.taskList {
  width: 46rem;
  margin: auto; 
  margin-top: 1rem;
}

.task {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;
  padding: 1rem;
}

.task div {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.task div button span {
  display: flex;
  padding: 0.47rem;
  border: 2.5px solid var(--blue);
  border-radius: 100%;
  cursor: pointer;

  transition: background-color 0.1s;
}

.task div button span:hover {
  border: 2.5px solid var(--purple);
}

.task div button svg {
  cursor: pointer;
  background: var(--purple);
  color: var(--gray-100);
  border-radius: 100%;
  padding: 0.2rem;
}

.task div p {
  color: var(--gray-200);
  line-height: 1.5rem;
  margin-top: -0.1rem; 
}

.task button {
  background: none;
  color: var(--gray-300);
  border: 0;
  line-height: 0;
  cursor: pointer;

  transition: background-color 0.1s;
}

.task button:hover {
  color: var(--red);
}

.textTaskDone {
  text-decoration-line: line-through;
}