.withoutList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withoutList div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46rem;
  margin: auto;  
}

.withoutList span {
  width: 736px;
  height: 4.5rem;
  background: transparent;
  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.withoutList img {
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 4rem;
}

.withoutList strong, p {
  color: var(--gray-300);
  line-height: 1.4rem;
}

.withoutList strong {
  margin-top: 1rem;
}